<div>
  <h2>Update Team</h2>
  <hr />
  <form [formGroup]="taskForm">
    <div class="form-group">
      <input
        formControlName="name"
        type="text"
        class="form-control"
        placeholder="Product Name"
      />
      <div
        class="alert alert-danger m-4"
        *ngIf="
          taskForm.controls['name'].invalid && taskForm.controls['name'].touched
        "
      >
        Team name is required
      </div>
    </div>
    <div class="form-group">
      <input
        formControlName="description"
        type="text"
        class="form-control"
        placeholder="Product Name"
      />
      <div
        class="alert alert-danger m-4"
        *ngIf="
          taskForm.controls['description'].invalid &&
          taskForm.controls['description'].touched
        "
      >
        Description is required
      </div>
    </div>
    <div>
      <div class="mt-3 mb-3">
        <label>Project</label>
        <div>
          <select (change)="onChangeTask($event.target)">
            <option
              *ngFor="let project of projects"
              [value]="project.id"
              [selected]="project.id === task?.projectId"
            >
              {{ project.name }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div>
      <div class="mt-3 mb-3">
        <label>User</label>
        <div>
          <select (change)="onChangeUser($event.target)">
            <option
              *ngFor="let performer of performers"
              [value]="performer.id"
              [selected]="performer.id === task?.performerId"
            >
              {{ performer.firstName + " " + performer.lastName }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </form>
  <div *ngIf="errors">
    <hr />
    <p class="alert alert-danger">
      {{ errors | json }}
    </p>
    <hr />
  </div>
  <div>
    <button
      *ngIf="task"
      type="submit"
      class="btn btn-primary m-2"
      [disabled]="taskForm.invalid"
      (click)="submitForm()"
    >
      Save
    </button>
  </div>
</div>
