<div class="container-fluid">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">State</th>
        <th scope="col">CreatedAt</th>
        <th scope="col">ProjectId</th>
        <th scope="col">PerformerId</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td>{{ task.id }}</td>
        <td>{{ task.name }}</td>
        <td>{{ task.description }}</td>
        <td bold>{{ enumName(task.state) }}</td>
        <td>{{ task.createdAt | format }}</td>
        <td>{{ task.projectId }}</td>
        <td>{{ task.performerId }}</td>
        <td>
          <button class="btn btn-primary" (click)="editTask(task.id)">
            Edit
          </button>
          <button
            style="margin-left: 25px"
            class="btn btn-primary"
            (click)="deleteTask(task.id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div
  *ngIf="!tasks"
  style="display: flex; justify-content: center; margin-top: 50px"
>
  <span class="spinner-border" role="status"></span>
</div>
