<div class="container-fluid">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">CreatedAt</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of teams">
        <td>{{ team.id }}</td>
        <td>{{ team.name }}</td>
        <td>{{ team.createdAt | format }}</td>
        <td>
          <button class="btn btn-primary" (click)="editTeam(team.id)">
            Edit
          </button>
          <button
            style="margin-left: 25px"
            class="btn btn-primary"
            (click)="deleteTeam(team.id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div
  *ngIf="!teams"
  style="display: flex; justify-content: center; margin-top: 50px"
>
  <span class="spinner-border" role="status"></span>
</div>
