<div>
  <h2>Update Team</h2>
  <hr />
  <form [formGroup]="teamForm">
    <div class="form-group">
      <input
        formControlName="name"
        type="text"
        class="form-control"
        placeholder="Product Name"
      />
      <div
        class="alert alert-danger m-4"
        *ngIf="
          teamForm.controls['name'].invalid && teamForm.controls['name'].touched
        "
      >
        Team name is required
      </div>
    </div>
  </form>
  <div *ngIf="errors">
    <hr />
    <p class="alert alert-danger">
      {{ errors | json }}
    </p>
    <hr />
  </div>
  <div>
    <button
      *ngIf="team"
      type="submit"
      class="btn btn-primary m-2"
      [disabled]="teamForm.invalid"
      (click)="submitForm()"
    >
      Save
    </button>
  </div>
</div>
